<div class="container">
  <div class="navbar navbar-fixed">

    <div class="navbar-logo">
      <h1><%= "Natalie Lunt Photography" %></h1>
    </div>
    <div class="navbar-links tabs">
      <ul class="list-inline hidden-xs hidden-sm">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", "#" %></li>
        <% if admin_user? %>
          <li><%= link_to'Add Photo', new_photo_path %></li>
        <% end %>
      </ul>
    </div>

    <div class="navbar-right">
      <!-- Dropdown list appearing on mobile only -->
      <div class="navbar-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
            <li><%= link_to "Home", "#" %></li>
            <li><%= link_to "Portraits", "#" %></li>
            <li><%= link_to "Concerts", "#" %></li>
            <li><%= link_to "Other", "#" %></li>
            <li><%= link_to "Contact", "#" %></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>
