<div class="container">
  <div class="row">
    <div class="col-xs-12">

<!--   <h1>About Me</h1>
    <%= text_area_tag :content, "", :class => "tinymce", id: "about_description", :rows => 10, :cols => 80 %>
    <%= tinymce %>
    </div> -->
<!--   </div> -->
  <% @about_sections.each do |section| %>
    <div class="about-section">
      <% if admin_user? %>
          <i class="fa fa-pencil edit-button" aria-hidden="true"></i>
      <% end %>
      <h2><%=section.header%></h2>
      <p><%=section.content%></p>

      <% if admin_user? %>
        <div class="about-edit-form hidden">
          <%= simple_form_for @section do |f| %>
            <%= f.input :header %>
            <%= f.input :content %>
            <%= f.button :submit %>
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
