<%= content_for :title do %>
  Natalie Lunt Photography - About
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">

      <% @about_sections.each do |about_section| %>
        <div class="about-section about-holder align-left">
          <% if admin_user? %>
            <div class="admin">
              <i class="fa fa-pencil edit-button about-edit-button admin btn btn-default" aria-hidden="true"></i>
            </div>
          <% end %>
          <div class="about-header">
            <%= image_tag 'profile.jpg', class: 'avatar-circle' %>
            <h2 class="about-header"><%=about_section.header%></h2>
          </div>
          <div class="about-content">
            <p><%=about_section.content%></p>
          </div>
        </div>

        <% if admin_user? %>
          <div id="about-edit-form" class="hidden">
            <%= simple_form_for([:pages, about_section]) do |f| %>
              <%= f.input :header %>
              <%= f.input :content %>
              <%= f.button :submit, value: "Update about section" %>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
