<%= content_for :title do %>
  Natalie Lunt Photography - About
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">

      <% @about_sections.each do |about_section| %>
        <div class="pages-section card-pages">
          <div class="pages-header card-pages-item-top">
            <div class="flex-container-align-bottom-left">
              <%= image_tag 'profile.jpg', class: 'avatar-circle avatar-neg-margin-right' %>
              <h2><%=about_section.header%></h2>
            </div>
            <% if admin_user? %>
              <div class="btn-admin card-pages-item-top-right">
                <i class="fa fa-pencil btn-unhide-form btn btn-default" aria-hidden="true"></i>
              </div>
            <% end %>
          </div>
          <div class="card-pages-item-bottom">
            <p><%=about_section.content%></p>
          </div>
        </div>

        <% if admin_user? %>
          <div id="about-edit-form" class="hidden">
            <%= simple_form_for([:pages, about_section],
                                  as: :about_section,
                                  url: pages_about_section_path(about_section)
                                ) do |f| %>
              <%= f.input :header %>
              <%= f.input :content %>
              <%= f.button :submit, value: "Update about section" %>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
