<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <% @about_sections.each do |section| %>
        <div class="about-section">

          <% if admin_user? %>
            <i class="fa fa-pencil edit-button" aria-hidden="true"></i>
          <% end %>
          <h2><%=section.header%></h2>
          <p><%=section.content%></p>

          <% if admin_user? %>
            <div id="about-edit-form" class="hidden">
              <%= simple_form_for(section, as: :about_section) do |f| %>
              <%= f.input :header %>
              <%= f.input :content %>
              <%= f.button :submit, value: "Update about section" %>
              <% end %>
            </div>
          <% end %>

        </div>
      <% end %>

    </div>
  </div>
</div>
