<%= content_for :title do %>
  Natalie Lunt Photography - Contact
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">

      <% @contact_sections.each do |contact_section| %>
        <div class="pages-section card-pages">

          <div class="card-pages-item-top">
            <h2>Contact</h2>
            <% if admin_user? %>
              <div class="btn-admin card-pages-item-top-right">
                <!-- Triggers modal form -->
                <i class="fa fa-pencil btn btn-default" id="contact-edit-button" aria-hidden="true" data-toggle="modal" data-target="#contact-edit-form"></i>
              </div>
            <% end %>
          </div>

          <div class="card-pages-item-bottom">
            <p>Get in touch if you have questions or comments!</p>

            <div class="inline-divs">
              <div><i class="fa fa-envelope" aria-hidden="true"></i></div>
              <div><%= contact_section.email %></div>
            </div>

            <div class="card-pages-item-social-media">
              <% unless contact_section.facebook_url.blank? %>
                <%= link_to("#{contact_section.facebook_url}", target: "_blank", class: "btn-social-media") do %>
                  <div><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></div>
                <% end %>
              <% end %>
              <% unless contact_section.twitter_url.blank? %>
                <%= link_to("#{contact_section.twitter_url}", target: "_blank", class: "btn-social-media") do %>
                  <div><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></div>
                <% end %>
              <% end %>
              <% unless contact_section.flickr_url.blank? %>
                <%= link_to("#{contact_section.flickr_url}", target: "_blank", class: "btn-social-media") do %>
                  <div><i class="fa fa-2x fa-flickr" aria-hidden="true"></i></div>
                <% end %>
              <% end %>
              <% unless contact_section.instagram_url.blank? %>
                <%= link_to("#{contact_section.instagram_url}", target: "_blank", class: "btn-social-media") do %>
                  <div><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></div>
                <% end %>
              <% end %>
            </div>
          </div>

          <!-- Modal form for editing contact section data-->
        <div class="modal fade" id="contact-edit-form" tabindex="-1" role="dialog" aria-labelledby="contactEditLabel">
          <div class="modal-dialog" role="document">
            <%= render partial: 'contact_modal_edit_form', locals: { contact_section: contact_section } %>
          </div>
        </div>

        </div>
      <% end %>

    </div>
  </div>
</div>
