<div class="container">

<div class="tabs filter-tabs">
  <button data-filter="*">Show all</button>
  <button data-filter=".concerts">Concerts</button>
  <button data-filter=".double-exposure">Double-Exposure</button>
  <button data-filter=".buildings">Buildings</button>
</div>

  <div id="masonry-grid" class="gallery padded">

    <div class="grid-sizer"></div>
    <% @photos.each do |photo| %>
      <!-- categories_string method is in photo model -->
      <div class="grid-item <%= photo.categories_string %>" data-category="<%= photo.categories_string %>">
        <div class="photo-holder">

          <%= image_tag(photo.image_location, alt: photo.image_alt, class: photo, width: 300, crop: :scale)%>

            <% unless photo.caption_title.blank?  && photo.caption_description.blank? %>
              <div id="photo-caption" class="caption hidden">
                <h5><%= photo.caption_title %></h5>
                <p><%= photo.caption_description %></p>
              </div>
            <% end %>

        </div>
      </div>
    <% end %>

  </div>
</div>
