<div class="container">
  <div class="tabs-wrapping tabs filter-tabs">
    <a class="tab tab-active btn btn-default btn-sm" data-filter="*">All Photos</a>
    <% @categories.each do |category| %>
      <a class="tab btn btn-default btn-sm" data-filter=".<%= category.name.downcase %>"><%= category.name.titlecase %></a>
    <% end %>
  </div>

  <div id="masonry-grid" class="gallery padded">

    <div class="grid-sizer"></div>
    <% @photos.each do |photo| %>
      <!-- categories_string method is in photo model -->
      <div class="grid-item <%= photo.categories_string %>" data-category="<%= photo.categories_string %>">
        <div class="card-photo">

          <%= image_tag(photo.image_location, alt: photo.image_alt, class: "photo", width: 300, crop: :scale)%>

          <% if admin_user? %>
            <div class="card-photo-top-right">
              <%= link_to new_photo_path(photo), class: "btn-admin btn-transparent btn btn-xs btn-default" do %>
                <i class="fa fa-edit" aria-hidden="true"></i>
              <% end %>

              <%= link_to photo_path(photo), method: :delete, class: "btn-admin btn-transparent btn btn-xs btn-default" do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            </div>
          <% end %>

          <% unless photo.caption_title.blank?  && photo.caption_description.blank? %>
            <div class="card-photo-bottom hidden photo-caption">
              <h5><%= photo.caption_title %></h5>
              <p><%= photo.caption_description %></p>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>

  </div>
</div>
