<div class="container">

  <div class="tabs filter-tabs">
    <a class="tab active btn btn-default btn-small" data-filter="*">All Photos</a>
    <% @categories.each do |category| %>
      <a class="tab btn btn-default btn-small" data-filter=".<%= category.name.downcase %>"><%= category.name.titlecase %></a>
    <% end %>
  </div>

  <div id="masonry-grid" class="gallery padded">

    <div class="grid-sizer"></div>
    <% @photos.each do |photo| %>
      <!-- categories_string method is in photo model -->
      <div class="grid-item <%= photo.categories_string %>" data-category="<%= photo.categories_string %>">
        <div class="photo-holder">

          <%= image_tag(photo.image_location, alt: photo.image_alt, class: photo, width: 300, crop: :scale)%>

          <% unless photo.caption_title.blank?  && photo.caption_description.blank? %>
            <div id="photo-caption" class="caption hidden">
              <h5><%= photo.caption_title %></h5>
              <p><%= photo.caption_description %></p>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>

  </div>
</div>
